rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow users to read and write to their own user document
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Allow users to read and write to inventories they are a member of
    match /inventories/{inventoryId} {
      // Allow any authenticated user to check if an inventory exists
      allow get: if request.auth != null;
      // Allow members to list items and make changes
      allow list, write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.inventories[inventoryId] != null;

      // Allow users to read and write to items in inventories they are a member of
      match /items/{itemId} {
        allow read, write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.inventories[inventoryId] != null;
      }

      // Allow users to read and write to item changes in inventories they are a member of
      match /item_changes/{itemChangeId} {
        allow read, write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.inventories[inventoryId] != null;
      }
    }
  }
}
